 .mainlogo .headerlink a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #444444;
}

/* .chartlogo {
      display: grid;
      justify-content: center; 
      align-items: center; 
      height: 300px; 
    } */
      

